html,body {
    height: 100%;
}

.float {
    height:100%;
    overflow: auto;
}

.left {
    float: left;
    width:30%;
    background-color: #ff6700;
    height:100%;
}

.right {
    float: left;
    height:100%;
    width:70%;
    background-color: #5295ff;
}