.float {
    position: relative;
    height:1000px;
}

.left {
    position: absolute;
    height:100%;
    background-color: #ff6700;
    width:30%;
}

.right {
    height:100%;
    background-color: #5295ff;
    margin-left:30%;
}