h1 {
    padding-bottom:10px;
}

.clearfix:after {
    content: ".";
    display: block;
    height:0;
    clear: both;
    visibility:hidden;
}

.left1 {
    float:left;
}

.left2 {
    margin-left:4%;
    float:left;
}

.right {
    margin-left:4%;
    float:left;
}

