html,body {
    height: 100%;
    display: flex;
}

.left,.main {
    width: 300px;
    height: 100%;
}

.left {
    background-color: #8bacff;
}

.main {
    background-color: #A8FFF6;
}

.right {
    height: 100%;
    background-color: #ffab6d;
    flex: 1;
}